/*This is how you comment*/
.Headers {
  font-weight: bold;
  font-style: italic;
  color: burlywood;
  text-align: center;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.Headers:hover {
  color: blue;
}
.CircleButtons{
  border-radius: 50%;
  size: 100px;
  border: black;
  display: inline-block;
  text-align:center;
  margin-right: 50px;
  align-items: center;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.ButtonLinks {
  text-decoration: none;
}
.CenterDivs {
  text-align: center;
}
.SeperatingTitles {
  text-align: center;
  color: black;
  text-decoration: black underline;
}
.FooterContent {
  font-size: small;
  font-style: italic;
  text-align: center;
}
hr {
  text-shadow: none;
  color: black;
  opacity: 90%;
  border-bottom: black;
  width: 65%;
}
body {
  background: mediumpurple;
}
header {
}
main {
  background-color: lightsalmon;
}
footer {
  background-color: salmon;
}