/*This is how you comment*/
.Headers {
  font-weight: bold;
  font-style: italic;
  color: burlywood;
  text-align: center;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.Headers:hover {
  color: blue;
}
.CircleButtons{
  margin-right: 50%;
  border-radius: 50%;
  size: 100px;
  border: none;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.ButtonLinks {
  text-decoration: none;
  margin: 2%;
}
.CenterDivs {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.SeperatingTitles {
  text-align: center;
  color: black;
  text-decoration: black underline;
}
.FooterContent {
  font-size: small;
  font-style: italic;
  text-align: center;
}
hr {
  text-shadow: none;
  color: black;
  opacity: 90%;
  border-bottom: black;
  width: 65%;
}
body {
  background: mediumpurple;
}
header {
  position:fixed;
  background-color: black;
  opacity: 60%;
  margin: 20%;
}
main {
  background-color: lightsalmon;
}
footer {
  background-color: salmon;
}